<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomi.touchservice"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.miui.analytics.onetrack.TRACK_EVENT"/>

    <permission android:label="Access Touch" android:name="com.miui.permission.ACCESS_TOUCH" android:protectionLevel="signatureOrSystem"/>

    <application android:label="@string/app_name" android:persistent="true" android:extractNativeLibs="true" android:usesNonSdkApi="true">
        <receiver android:label="TouchBootReceiver" android:name="com.xiaomi.touchservice.TouchBootReceiver" android:enabled="true" android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.xiaomi.touchservice.TouchService" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="touchservice.intent.bind"/>
            </intent-filter>
        </service>
    </application>
</manifest>
